In [4]:
import numpy as np
import pandas as pd
import pandapower as pp
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import pickle

In [49]:
net_pickle = pp.from_pickle("input-data/trey_net_student.p")

net_pickle.line

              name  from_bus  to_bus  g_us_per_km   df std_type  in_service
0     GKN3x150_150         0       1          0.0  1.0     None        True
1   GKN3x150_150_2         1       2          0.0  1.0     None        True
2       GKN3X95_95         1       3          0.0  1.0     None        True
3       GKT3X50_50         3       4          0.0  1.0     None        True
4     GKT3X50_50_2         4       5          0.0  1.0     None        True
5   GKN3x150_150_3         0       6          0.0  1.0     None        True
6     GKN3X95_95_2         6       7          0.0  1.0     None        True
7   GKN3x150_150_4         7       8          0.0  1.0     None        True
8       GKN3X50_50         7       9          0.0  1.0     None        True
9     GKN3X50_50_2         6      10          0.0  1.0     None        True
10    GKN3X240_240         0      11          0.0  1.0     None        True

In [50]:
net_pickle.line.insert(
    7, "length_km", [0.180, 0.100, 0.115, 0.080, 0.090, 0.135, 0.100, 0.205, 0.085, 0.255, 0.340]
)

In [51]:
net_pickle.line

,name,from_bus,to_bus,g_us_per_km,df,std_type,in_service,length_km
0,GKN3x150_150,0,1,0.0,1.0,None,True,0.180
1,GKN3x150_150_2,1,2,0.0,1.0,None,True,0.100
2,GKN3X95_95,1,3,0.0,1.0,None,True,0.115
3,GKT3X50_50,3,4,0.0,1.0,None,True,0.080
4,GKT3X50_50_2,4,5,0.0,1.0,None,True,0.090
5,GKN3x150_150_3,0,6,0.0,1.0,None,True,0.135
6,GKN3X95_95_2,6,7,0.0,1.0,None,True,0.100
7,GKN3x150_150_4,7,8,0.0,1.0,None,True,0.205
8,GKN3X50_50,7,9,0.0,1.0,None,True,0.085
9,GKN3X50_50_2,6,10,0.0,1.0,None,True,0.255
10,GKN3X240_240,0,11,0.0,1.0,None,True,0.340

In [25]:
net_pickle.trafo

,name,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,i0_percent,vector_group,vk0_percent,vkr0_percent,mag0_percent,mag0_rx,si0_hv_partial,shift_degree,tap_side,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,std_type,df,in_service
0,STMT003438,12,0,0.63,18.3,0.42,4.0,0.42,0.65,1.8,Dyn,3.0,0.75,0.3,1.9,1.9,0.0,lv,0,-3,3,2.0,0.0,-3,False,1,None,1.0,True